snaplight_nodered_flow.json
[{"id":"13bb4019.18239","type":"tab","label":"snapLight","disabled":false,"info":""},{"id":"36dbd064.fc2d2","type":"rpi-gpio out","z":"13bb4019.18239","name":"Notification LED","pin":"18","set":true,"level":"0","freq":"","out":"out","x":800,"y":300,"wires":[]},{"id":"bef5ea4e.905608","type":"trelloGetNewCard","z":"13bb4019.18239","trello":"a0927bce.b8f718","idList":"5dc8675d0c7aa77a59613dbe","idBoard":"5dc8675d0c7aa77a59613db8","excludeUser":false,"safeListBlockListUsers":"block","filterUserList":[],"name":"Get Trello","x":360,"y":220,"wires":[["fc3c033b.2515a","6abf973a.e17328"]]},{"id":"8f907beb.f7a7a8","type":"inject","z":"13bb4019.18239","name":"Polling","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["bef5ea4e.905608"]]},{"id":"fa2e0f20.68bed","type":"rpi-gpio in","z":"13bb4019.18239","name":"Switch Off","pin":"7","intype":"tri","debounce":"25","read":true,"x":140,"y":400,"wires":[["915eb5ee.16a3f8"]]},{"id":"fc3c033b.2515a","type":"function","z":"13bb4019.18239","name":"Switch on","func":"var msg1 = { payload:1 };\nreturn msg1;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["36dbd064.fc2d2"]]},{"id":"e265da4e.0d4ad8","type":"function","z":"13bb4019.18239","name":"Switch off","func":"if (msg.payload == 1) {\n    var msg1 = { payload:0 };\n    return msg1;  \n}\n\n","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["36dbd064.fc2d2"]],"info":"Switch off LED at moving"},{"id":"6abf973a.e17328","type":"exec","z":"13bb4019.18239","command":"curl -X POST -H 'Content-type: application/json' --data '{\"text\":\"Neue Karte auf Trello vorhanden!\"}' https://hooks.slack.com/services/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","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Post to Slack","x":570,"y":100,"wires":[[],[],[]]},{"id":"915eb5ee.16a3f8","type":"delay","z":"13bb4019.18239","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":400,"wires":[["e265da4e.0d4ad8"]]},{"id":"a0927bce.b8f718","type":"trelloCredentials","z":"","apikey":"4c6958b3937eefc50c45e5fcb80a6e2e","token":"c474abc4f0872267b619f2b22e55d1bcf16d65d5eb12f204c2b3092e43a400cc"}]